################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EmpireInfoPlus/v16
/EmpireInfo+/Debug
/EmpireInfo+/Release
